Common/Project/IPC and Window Service/IPCClient/Debug/Client.obj
Common/Project/IPC and Window Service/IPCClient/Debug/IPCClient.#00
Common/Project/IPC and Window Service/IPCClient/Debug/IPCClient.#02
Common/Project/IPC and Window Service/IPCClient/Debug/IPCClient.#04
Common/Project/IPC and Window Service/IPCClient/Debug/
Common/Project/IPC and Window Service/IPCClient/Release/
Common/Project/IPC and Window Service/IPCClient/_history/
Common/Project/IPC and Window Service/IPCServer/Debug/
Common/Project/IPC and Window Service/IPCServer/Release/
Common/Project/IPC and Window Service/IPCServer/_history/
Common/Project/IPC and Window Service/ObjectMemory/Debug/
Common/Project/IPC and Window Service/ObjectMemory/Release/
Common/Project/IPC and Window Service/ObjectMemory/_history/
Common/Project/IPC and Window Service/Projects/Debug/
Common/Project/IPC and Window Service/Projects/Release/
Common/Project/IPC and Window Service/Projects/_history/
Common/Project/IPC and Window Service/service/Debug/
Common/Project/IPC and Window Service/service/Release/
Common/Project/IPC and Window Service/service/_history/
Common/Project/IPC and Window Service/window service/Debug/
Common/Project/IPC and Window Service/window service/Release/
Common/Project/IPC and Window Service/window service/_history/
Common/Project/IPC and Window Service/Debug/
Common/Project/IPC and Window Service/Release/
Common/Logger/Debug/
Common/Logger/Release/
Common/Project/IPC and Window Service/IPCClient/__history/Client.dfm.~1~
Common/Project/IPC and Window Service/IPCClient/__history/
Common/Project/IPC and Window Service/IPCServer/__history/IPCManager.cpp.~1~
Common/Project/IPC and Window Service/IPCServer/__history/
Common/Project/IPC and Window Service/__history/TestProjectGroup.groupproj.local.~1~
Common/Project/IPC and Window Service/bin/